<h1>検索結果</h1>

<%= form_with(url: search_items_path, method: :get) do |f| %>
  <%= f.text_field :keyword, value: params[:keyword], placeholder: 'キーワードを入力' %>
  <%= f.submit '検索' %>
<% end %>

<ul>
  <% @search_results.first(10).each do |item| %>
    <li>
      <%
=begin%>
 <%= image_tag(item['mediumImageUrls'][0], alt: item['itemName']) %> 
<%
=end%>
      <%= link_to(image_tag(item['mediumImageUrls'][0], alt: item['itemName']), item['itemUrl'], target: '_blank') %>
      <%= "#{item['itemName']}, #{item['itemPrice']} yen" %>
    </li>
  <% end %>
</ul>